.desc--closed {
    height: 3rem;
    width: 38rem;
    margin: 0;
    color: #666;
    line-height: 1.6;
    overflow: hidden;
}

.desc--opened {
    height: auto;
    min-height: 3rem;
    width: 38rem;
    margin: 0;
    color: #666;
    line-height: 1.6;
}

.more--btn {
    border: none;
    background-color: transparent;
    font-family: "carmen-medium";
    font-size: 1.1em;
    padding: 1rem;
    cursor: pointer;
}

.form--header {
    width: 100%;
    background-color: white;
    height: auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 3rem;
}

.form--title {
    font-family: "carmen-exbold";
    line-height: 1.4;
    font-size: 2rem;
}

button:focus {
    outline: none;
}