.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #fff;
  border: 0.1rem solid #dadce0;
  border-radius: 0.8rem;
  width: 50rem;
  height: auto;
  margin-bottom: 1rem;
  padding: 2rem;
}

img {
  width: 100%;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
}

.desc {
  margin: 0.5rem 0;
  color: #333333;
  font-size: 0.9rem;
}

.img {
  width: 100%;
}

.long--answer {
  height: auto;
  line-height: 1.6;
  width: 100%;
}

.short--answer {
  border-bottom: 1px black solid;
}

.linear--list {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.checked {
  color: purple;
}

.checked:after {
  content: " ✔️";
  font-size: 0.8em;
}

.option {
  display: flex;
  flex-direction: column;
}

input[type='radio'],
input[type='radio']:checked {
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  margin-right: 0.1rem;
}

input[type='radio'] {
  background-color: white;
  border: 2px solid #dadce0;
}
input[type='radio']:checked {
  background-color: #dfe4f2;
}
