@font-face {
  font-family: 'carmen-bold';
  src: url('./Carmen-Sans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'carmen-exbold';
  src: url('./Carmen-Sans-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'carmen-medium';
  src: url('./Carmen-Sans-Medium.woff') format('woff');
}
