.forms--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: scroll;
  background-color: rgb(223, 228, 242);
  font-family: "Noto Sans KR";
  padding: 3rem 0;
}

