.register--container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: 'carmen-exbold';
  font-size: 72px;
  margin-bottom: 1.5rem;
}

.register--wrapper {
  margin: 0 auto;
  width: 100vw;
  text-align: center;
}

.register--form--wrapper .register--form {
  display: flex;
  flex-direction: column;
  width: 21rem;
  height: 24.2rem;
  margin: 0 auto;
  border-radius: 23px;
  padding: 1.5rem 2rem 1.2rem 2rem;
  background-color: #eee;
}

.register--form--input--wrapper {
  display: inline-block;
  width: 12rem;
  text-align: left;
  font-size: 0.8em;
}

input {
  margin-top: 0.27rem;
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  width: 17rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.04) inset;
  font-family: 'carmen-medium';
  font-size: 0.9em;
}


.message--area {
  width: 100%;
  height: 1rem;
  font-size: 0.72rem;
  color: red;
  margin: 0.3rem 0.3rem 0.3rem;
  font-family: 'carmen-medium';
}

.caution {
    color: red;
}

.good {
    color: green;
}

@media screen and (max-width: 375px) {
  .logo {
    font-family: 'carmen-exbold';
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }

  .register--form--wrapper .register--form {
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 24.2rem;
    margin: 0 auto;
    border-radius: 23px;
    padding: 1.5rem 2rem 1.2rem 2rem;
    background-color: #eee;
  }
  
  .register--form--input--wrapper {
    display: inline-block;
    width: 12rem;
    text-align: left;
    font-size: 0.8em;
  }
  
  input {
    margin-top: 0.27rem;
    padding: 0.5rem;
    border-radius: 15px;
    border: none;
    width: 14.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.04) inset;
    font-family: 'carmen-medium';
    font-size: 0.9em;
  }

}
